#*
*$
*.BAK
*.Z
*.bak
*.class
*.dylib
*.elc
*.ln
*.log
*.o
*.obj
*.olb
*.old
*.orig
*.pyc
*.pyo
*.rej
*.swp
*/.git/*
*~
,*
.#*
.DS_Store
.del-*
.deployables
.make.state
.nse_depinfo
.svn
CVS.adm
RCS
RCSLOG
SCCS
_$*
_svn

private/*